#
# LGE touch core configuration
#
if INPUT_TOUCHSCREEN

source "drivers/input/touchscreen/lge_pos/focaltech/ft5446/Kconfig"
source "drivers/input/touchscreen/lge_pos/focaltech/FT8006P/Kconfig"
source "drivers/input/touchscreen/lge_pos/focaltech/FT8615/Kconfig"
endif
